<!-- diretivas estruturais -->

<!-- if -->
<h2>ngif</h2>
<button (click)="tornarTextoVisivel()"  >
  mudar visibilidade
</button>

@if(mostrarTexto){
  <p>Este teste só aparece se 'mostrar texto' for verdadeiro</p>
}


<!-- for -->
<h2>ngfor</h2>
<p style="margin-top: 64px;">chamada</p>

@for(item of lista;track lista){
  <p>nome: {{item.nome}}    número chamada: {{item.numero}}</p>
}

<!-- switch -->
<h2>ngswitch</h2>
<div [ngSwitch]="cor" style="margin-top: 64px;">
  <p *ngSwitchCase="'vermelho'" >cor vermelha</p>
  <p *ngSwitchCase="'amarelo'" >cor amarelo</p>
  <p *ngSwitchDefault="" >cor padrão</p>
</div>


<!-- diretivas de atributos -->
<!-- ngclass ngstyle e ngmodel -->


<!-- ngstyle -->
<h2>ngstyle</h2>
<div [ngStyle]="{'color': textColor, 'font-size': fontSize}">
  Este texto tem uma cor e tamanho dinâmicos!
</div>


<!-- ngclass -->
<h2>ngclass</h2>
<div [ngClass]="{'active': isActive}">
  Este elemento está {{ isActive ? 'ativo' : 'inativo' }}.
</div>
<button (click)="toggleActive()">Alternar Ativo/Inativo</button>


<!-- ngmodel -->
 <h1>ngmodel</h1>
<input [(ngModel)]="nome" placeholder="Digite seu nome">
<p>Olá, {{ nome }}!</p>



